<div id="banner" class="flexbox-center">
  <h1 id="app-header" ><span>Todo App</span></h1>
  <% if user_signed_in? %>
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "log-in-out" %>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "log-in-out" %>
  <% end %>
</div>
