$animate: all 0.1s ease-in-out;

.date-container {
  position: relative;

  .changeDate {
    cursor: pointer;
    width: 180px;
    border: none;
    text-align: center;
    background-color: white !important;
    position: relative;
    display: block;
  }

  .underline {
    position: absolute;
    bottom: 4px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: $animate;
    transition-duration: 0.5s;
    opacity: 0;
    background-color: $red;
    left: 10%;
  }

  &:hover {
    .underline {
      width: 80%;
      opacity: 1;
    }
  }
}
