#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.list-item {
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  background: white;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.15);
  width: 60%;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  position: relative;

  &:hover {
    cursor: grab;
    transform: scale(1.02);
  }

  &:active {
    cursor: grabbing;
    z-index: 10;
  }

  .delete-todo {
    position: absolute;
    right: 10px;
  }

  .position-circle {
    border-radius: 50%;
    background-color: $light-blue;
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 10px;
  }

  .list-item-header {
    position: relative;
  }
}

.flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-background-class {
  background: blue;
}

.todo-title-checked {
  opacity: 0.4;
  transition : opacity 0.2s ease-in-out;
}

.todo-title {
  transition: opacity 0.2s ease-in-out;
}

.fa-check {
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.fa-check-checked {
  transform: scale(1);
}

.well-done {
  opacity: 0;
  animation: fadeInOut 2s;
}



@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  30% {
    opacity: 1;
    transform: translateX(0);
  }

  75% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}


