.list-item {
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  background: white;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.15);

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
    z-index: 10;
  }
}

.blue-background-class {
  background: blue;
}
